<div class="sidebar">
  <div class="row">
    <div class="column side">
      <h5 class="categoryTitle">Categories</h5>
      <li><a href="">Computers</a></li>
      <li><a href="">Accessories</a></li>
      <li><a href="">Women Wears</a></li>
      <li><a href="">Men Wears</a></li>
      <li><a href="">Mobile devices</a></li>

      <hr>
      <div class="source">
        <h5>Source Item</h5>
        <input class="name" type="text" placeholder="Item name">
        <input class="description" type="text" placeholder="Enter more description">
        
        <button class="btn btn-success btn-sm">SUBMIT</button>
      </div>
    </div>
    <div class="column middle">
      <h5 class="productTitle">Output Products</h5>
      <p>This segment should output products related to searches</p>
    </div>
  </div>
</div>



