<!-- product cart list -->
            <div class="itemlist-row">

                  <h5>Shopping Cart (3) </h5>
                  <input type="checkbox"> Select all
                <br>
                <br>  

              <!-- product cart list 1 -->
              <input type="checkbox"> Vendor name and address of contact details
                <hr>
                  <div class="row">
                    <img src="\assets\img\product.jpg" alt="">
                    <div class="item-desc">
                      <p>Product description</p>
                      <p class="color">Color</p>
                      <p class="price">Price</p>
                      <p class="shipping-method">Shipping:</p>
                  </div>
                </div>

              <!-- product cart list 2 -->
              <input type="checkbox"> Vendor name and address of contact details
                <hr>
                  <div class="row">
                    <img src="\assets\img\product.jpg" alt="">
                    <div class="item-desc">
                      <p>Product description</p>
                      <p class="color">Color</p>
                      <p class="price">Price</p>
                      <p class="shipping-method">Shipping:</p>
                  </div>
                </div>
                <!-- product cart list 3 -->
                <input type="checkbox"> Vendor name and address of contact details
                <hr>
                  <div class="row">
                    <img src="\assets\img\product.jpg" alt="">
                    <div class="item-desc">
                      <p>Product description</p>
                      <p class="color">Color</p>
                      <p class="price">Price</p>
                      <p class="shipping-method">Shipping:</p>
                  </div>
                </div>
                <!-- end item3 -->
              </div>
<!-- End Item List -->


<!-- Order -->
              <div class="container order-summary">
                  <div class="col-sm-12">
                    <h5>Order summery </h5>
                    <p class="subtotal">Subtotal: <span>$ 50.00</span></p>
                    <p class="shipping-cost">Shipping: <span>$ 3.00</span></p>
                    <p class="total-amount">Total: <span>$ 53.00</span></p>
                  </div>
            </div>
<!-- End Order -->